.boton-side-bar{
    background-color: white;
    border-radius: 12px;
    border-style: hidden;
    text-align: left;
    width: 200px;
    color: grey;
    margin: 10px;
}

.boton-side-bar:hover{
    background-color: #e14e10;
    color: white;
}
.boton-selected{
    background-color: #e14e10;
    color: white;
    border-radius: 12px;
    border-style: hidden;
    text-align: left;
    width: 200px;
    margin: 10px;
}
.boton-send-media{
    background-color: white;
    border-radius: 12px;
    border-color: #e14e10;
    text-align: center;
    color: #e14e10;
    font-size: large;
    width: 80%;
}
.boton-send-media:hover{
    background-color: #e14e10;
    color: white;
  
}
.contenedor-tabla{
    background-color: white;
    border-radius: 15px;
    font-size: 17px;
    border-width: 1px;
    box-shadow: -4px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.titulo-tabla, th{
    color:grey;
}
.search-bar{
    margin-left: 10px;
    width: 30%;
    border: solid 0.2px grey;
    height: 35px;
    border-radius: 12px;
    font-size: 17px;
    padding: 10px;
    background: transparent;
    margin-top: 10px; 
}
.lupa{
    margin-left: 10px;
}
.cuerpo-m{
    background-color: #edede9;
    padding: 30px;
    height: 900px;
 
}
.cuerpo-left{
    padding: 30px;
}
.contenedor-head{
    padding: 2%;
}
.boton-delete{
    background-color: #e14e10;
    position: relative;
    width: 200px;
    border-radius: 12px;
    color: white;
    border-style: hidden;
    font-size: large;
}
.table{
    padding: 10px;
    min-width: 100%;
}
.colum{
    padding: 10px;
}
.button-export{
    background-color:transparent;
    border-style: hidden;
}

.contenedor-filters{
    display: flex;
    justify-content: end;
}
.saludo{
    color: #e14e10;
}
input[type='checkbox']{
    margin-top:1rem;
}