.options-media{
    border-style: hidden;
    border-radius: 12px;
    margin:10px;
    background-color: #ffe5d9;
    color: #e14e10;
    font-size: 70%;
}
.botonesAbajo{
    border-style: solid 1px;
    border-color: #e14e10;
    border-radius: 12px;
    background-color: white;
    color: #e14e10;
    font-size: 80%;
}
.botonesAbajo:hover{
    background-color: #e14e10;
    color: white;
}