body{
  max-width: 100vw !important;
 
}


.container{
  padding: 2vw 4vw !important;
  
  align-items: center !important;
}

h1.text-warning{
  color:#e14e10 !important;
  text-align: center;
  font-size:xx-large;
  
}
h1.text-warning-medium{
  color:#e14e10 !important;
  text-align: center;
  font-size: x-large;
}
.imgm{
  max-width:50vw ;

}
.cont-img{
  align-items: center !important;
  max-width: 100%;
  align-self: center;
}
.img-titulo{
 margin-left: 20%;
}
.btn{
  color: white !important;
  background-color:#e14e10 !important;
  width:200px;
}

.log{
  align-self: center;
}

